.idea/*

.env

/app/*
!/app/index.php

/var/log/*
!/var/log/.gitkeep

/var/db/*

/config/apache/ssl/*
!/config/apache/ssl/.gitkeep

/config/php/*
!/config/php/conf.d/php.ini

/config/apache/vhosts/*
!/config/apache/vhosts/httpd.default.conf

/config/projects/*
!/config/projects/sites.list
