.idea/*

.env

/app/*
!/app/index.php

/var/log/*
!/var/log/.gitkeep

/var/db/*

/config/apache/ssl/*
!/config/apache/ssl/.gitkeep

/config/php/conf.d/*
!/config/php/conf.d/php.ini

/config/sql/*
!/config/php/my.cnf

/config/apache/vhosts/*
!/config/apache/vhosts/vhost.conf

/config/projects/*
!/config/projects/domains.conf

/config/php/custom/*
!/config/php/custom/install.example.sh