.idea/*

.env

/app/*
!/app/index.php

/var/log/*
!/var/log/.gitkeep

/var/mysql/*

/config/apache/ssl/*
!/config/apache/ssl/.gitkeep

/config/apache/vhosts/*
!/config/apache/vhosts/httpd.default.conf

/config/projects/*
!/config/projects/list.txt
