services:
  lamp_web:
    build:
      context: .
      dockerfile: bin/php/${PHP_VERSION:-php84}/Dockerfile
      args:
        PHP_IMAGE_TAG: ${PHP_IMAGE_TAG}
        GIT_USER_NAME: ${GIT_USER_NAME}
        GIT_USER_EMAIL: ${GIT_USER_EMAIL}
    ports:
      - ${HTTP_PORT:-80}:80
      - ${HTTPS_PORT:-443}:443
    environment:
      ENABLE_XDEBUG: ${ENABLE_XDEBUG:-false}
    restart: unless-stopped
    volumes:
      - ${WEB_ROOT:-./app}:/var/www
      - ./config/php/conf.d/php.ini:/usr/local/etc/php/php.ini
      - ./config/apache/vhosts/generated:/etc/apache2/sites-enabled
      - ./config/apache/ssl:/etc/ssl/lamp
      - ./var/log/apache:/var/log/apache2
      - ./scripts:/scripts
      - ./config:/config
      - ./scripts/entrypoint/web.sh:/entrypoint.sh
      # Optional shared mounts - Set in .env
      - ${EXTRA_SHARED_1:-/dev/null}:/mnt/shared1
      - ${EXTRA_SHARED_2:-/dev/null}:/mnt/shared2
      - ${EXTRA_SHARED_3:-/dev/null}:/mnt/shared3
      - ${EXTRA_SHARED_4:-/dev/null}:/mnt/shared4
      - ${EXTRA_SHARED_5:-/dev/null}:/mnt/shared5
    entrypoint: [ "/bin/bash", "-c", "/entrypoint.sh && exec apache2-foreground" ]
    depends_on:
      - lamp_db
    networks:
      - lamp
  lamp_db:
    image: ${SQL_ENGINE:-mysql}:${SQL_VERSION:-8.4}
    ports:
      - ${SQL_PORT:-3306}:3306
    restart: always
    volumes:
      - ${SQL_DATA_PATH:-./var/db}:/var/db-host
      - ./config/sql/${SQL_ENGINE}/my.cnf:/etc/mysql/conf.d/custom.cnf:ro
      - ./config/sql/${SQL_ENGINE}:/config/sql:ro
      - ./scripts/entrypoint/sql.sh:/docker-entrypoint-initdb.d/00-entrypoint.sh
    environment:
      MYSQL_ROOT_PASSWORD: ${SQL_ROOT_PWD:-root}
      SQL_ENGINE: ${SQL_ENGINE:-mysql}
      SQL_VERSION: ${SQL_VERSION:-8.4}
    entrypoint: [ "/bin/bash", "-c", "/docker-entrypoint-initdb.d/00-entrypoint.sh && exec docker-entrypoint.sh mysqld" ]
    networks:
      - lamp
  lamp_node:
    image: node:22
    working_dir: /projects
    volumes:
      - ${WEB_ROOT:-./app}:/projects
    command: tail -f /dev/null
    profiles:
      - with-node
  lamp_redis:
    image: redis
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    depends_on:
      - lamp_db
    profiles:
      - with-redis
    networks:
      - lamp
  lamp_pma:
    image: phpmyadmin
    restart: always
    ports:
      - ${PMA_PORT:-8080}:80
    environment:
      PMA_HOST: lamp_db
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: ${SQL_ROOT_PWD:-root}
      MYSQL_ROOT_PASSWORD: ${SQL_ROOT_PWD:-root}
    depends_on:
      - lamp_db
    profiles:
      - with-pma
    networks:
      - lamp
  lamp_mailpit:
    image: axllent/mailpit
    ports:
      - "8025:8025"     # Web UI
      - "1025:1025"     # SMTP
    profiles:
      - with-mailpit
    networks:
      - lamp
volumes:
  redis-data:
networks:
  lamp:
    driver: bridge